.project-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  background-color: #1d1d1d;
  margin: 10px;
  border-radius: 10px;
}
.projects-title {
  text-align: center;
}