.menu-wrapper {
  width: 100vw;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.329);
  position: fixed;
  z-index: 99;
  transition: all 0.1s ease-in-out;
}

.menu-items {
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.menu-item {
  width: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color:rgb(109, 109, 109)
}

.menu-item:hover {
  margin-top: 10px;
  color: rgb(189, 189, 189);
}