@import url('https://fonts.googleapis.com/css2?family=Martel&family=Questrial&family=Righteous&display=swap');

h1, h2, h3, h4, h5, h6, p, li {
  color: white;
}

.header {
  font-family: 'Righteous', cursive;
}

.highlighted {
  font-family: 'Martel', serif;
}

.text {
  font-family: 'Questrial', sans-serif;
}