@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  color: white;
}

body {
  background-color: #272727;
  overflow-x: hidden;
}

.top-wrapper {
  margin-bottom: 200px;
}

.top-wrapper span {
  -webkit-animation: up-down 1s linear infinite;
          animation: up-down 1s linear infinite;
}

.triangle {
  top: 30px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 0px;
  border-right-width: 2000px;
  border-top: 544px solid rgba(24, 24, 24, 0.863);
  position: absolute;
  z-index: 2;
}

.triangle-left {
  position: absolute;
  top: 100px;
  left: 55%;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 0px;
  border-bottom-width: 400px;
  border-right: 544px solid rgba(0, 0, 0, 0.822);
  z-index: 3;
}

.avatar {
  margin-top: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.avatar-img {
  border-radius: 100%;
  width: 200px;
  z-index: 99;
  height: 200px;
}

.avatar h1 {
  color: white;
}

.projects {
  background: rgba(70, 70, 70, 0.808);
  border-radius: 5px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.projects .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 80%;
  -ms-flex-item-align: center;
      align-self: center;
}

.projects .project {
  width: 49%;
  height: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(88, 88, 88, 0.808);
  margin: 10 10 10 10;
  border-radius: 10px;
}

.projects-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

@-webkit-keyframes up-down {
  0% {
    padding-top: 0px;
    padding-bottom: 10px;
  }
  50% {
    padding-bottom: 0px;
    padding-top: 10px;
  }
  100% {
    padding-top: 0px;
    padding-bottom: 10px;
  }
}

@keyframes up-down {
  0% {
    padding-top: 0px;
    padding-bottom: 10px;
  }
  50% {
    padding-bottom: 0px;
    padding-top: 10px;
  }
  100% {
    padding-top: 0px;
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */